@page "/suggestion"
@using HealthyFoodSuggestion.Domain.Model
@using HealthyFoodSuggestion.Domain.Dto
@using HealthyFoodSuggestion.Domain.Enum
@inject ISuggestionService suggestionService

<h3>Suggestion</h3>

@if(Recipes is null)
{
    <span><strong>Loading...</strong></span>
}
else
{
    <p>@request.Ingredient</p>
    @foreach (var recipe in Recipes)
    {
        <div>
            <p>@recipe.Description</p>
        </div>
    }
}

@code {
    private IEnumerable<Recipe> Recipes;

    public SuggestionRequest request { get; set; } = 
                    new SuggestionRequest() { Ingredient = "beterraba", Type = RecipeType.Vegetarian };

    protected override async Task OnInitializedAsync()
    {
        Recipes = await suggestionService.GetRecipesAsync(request);
    }
}