@page "/suggestion"
@using HealthyFoodSuggestion.Domain.Model
@using HealthyFoodSuggestion.Domain.Dto
@using HealthyFoodSuggestion.Domain.Enum
@inject ISuggestionService suggestionService

<h3>Suggestion</h3>

@if(Recipes is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@request.Ingredient</p>
    @foreach (var recipe in Recipes)
    {
        <div>
            <p>@recipe.Description</p>
        </div>
    }
}

@code {
    private IEnumerable<Recipe> Recipes;

    public SuggestionRequest request { get; set; } = 
                    new SuggestionRequest() { Ingredient = "beterraba", Type = RecipeType.Vegetarian };

    private System.Threading.CancellationTokenSource cancellationTokenSource = null;

    protected override async Task OnInitializedAsync()
    {
        if(!(cancellationTokenSource is null))
        {
            cancellationTokenSource.Cancel();
            cancellationTokenSource = null;
            return;
        }

        cancellationTokenSource = new System.Threading.CancellationTokenSource();

        Recipes = await suggestionService.GetRecipesAsync(request, cancellationTokenSource.Token);
    }
}